@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Archivo:wght@600&family=Shrikhand&family=Tenor+Sans&display=swap');
@keyframes myAnim {
	0% {
		opacity: 0;
		transform: translateY(-250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

h1 {
    text-align: center;
    font-family: 'Shrikhand', cursive;
    font-size: 6rem;
    color: #ffffff;
    animation: myAnim 1s ease 0s 1 normal forwards;
    text-shadow: 6px 5px 10px #000000;
}

.card {
    width: 383px;
    height: 399px;
    margin: 0 auto;
    background-color: #F8FBFE;
    border-radius: 19px;
    z-index: 1;
    margin-bottom: 35rem;
}
   
.tools {
    display: flex;
    align-items: center;
    padding: 9px;
}
   
.circle {
    padding: 0 4px;
}
   
.box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
}
   
.red {
    background-color: #ff605c;
}
   
.yellow {
    background-color: #ffbd44;
}
   
.green {
    background-color: #00ca4e;
}
   
a {
    text-decoration: none;
}

body {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

p {
    text-align: center;
    font-family: 'Archivo', sans-serif;
    padding-bottom: 1rem;
    font-size: 2rem;
    color: #000000;
}

.category-page {
    color: black;
  }
  
.categories-container {
    display: grid;
    grid-template-areas: "left right";
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
 
.categories-container button {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    background-color: #ffffff; 
    color: #23241d; 
    font-size: 16px; 
    border-color: #000000;
    border-radius: 1.25rem;
    box-shadow:
    1.4px 1.4px 1.4px -17px rgba(0, 0, 0, 0.077),
    3.9px 3.9px 3.9px -17px rgba(0, 0, 0, 0.11),
    9.3px 9.3px 9.3px -17px rgba(0, 0, 0, 0.143),
    31px 31px 31px -17px rgba(0, 0, 0, 0.22);
    cursor: pointer; 
    padding: 14px 20px;
    height: 9rem;
    width: 9rem;
    font-family: 'Archivo', sans-serif;
    text-align: center;
    font-size: 1.1rem;
    text-align: center;
}
  
.categories-container button:hover {
    background-color: #ececec; 
    
}
